<section class="py-5 bg-sky">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <span class="title borel-regular mb-0">Weathering</span>
        <span class="poppins-regular fs-1 mb-5">with you</span>
        <div class="clouds pt-5 d-flex justify-content-center">
            <div [routerLink]="['/openweather']" class="d-flex flex-column cloud-box align-items-center">
                <div class="cloud me-5"></div>
                <span class="fs-3 poppins-regular mt-3">Open Weather</span>
            </div>
            <div [routerLink]="['/gob']" class="d-flex flex-column cloud-box align-items-center">
                <div class="cloud ms-5"></div>
                <span class="fs-3 poppins-regular mt-3">Datos Gob</span>
            </div>
        </div>
    </div>
    <p class="text-center">Diana Narváez - Montserrat Martínez - 2024</p>
</section>